#typing {
    background-color: darkkhaki;
    font-size: 45px;
    margin: 20px;


}


a:link {
    color: rgb(197, 243, 239);
    text-decoration: none;
}

a:visited {
    /* color:cornsilk; */
    text-decoration: none;
    color: white;
    font-size: 45px;

}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:active {
    color: #FFFFFF;
    text-decoration: none;
}