

.caret::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1em;
    margin-bottom: -2px;
    margin-left: -2px;


    animation: blink-caret .5s step-end infinite;
}

.typing {
    font-size: 35px;
    font-family: monospace;
    background-color: darkkhaki;
    margin: 20px;
   
 

}

@keyframes blink-caret {
    50% {
        opacity: 0;
    }
}