body {
    margin: 0px;
    width: 100%;
    height: 100%;
}

#top {
    background-color: darkkhaki;
    height: 70px;
    border-style: solid 10px;
}
#logo{
    float:right;
}

#link {
    padding: 0;
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    /* background-color: darksalmon; */
}

#link li {
    float: left;
}

#link li a {
    display: block;
    color: white;
    text-align: center;
    padding: 26px 50px;
    text-decoration: none;
}

#link li a:hover:not(.active) {
    background-color: darkslateblue;
}

.active {
    background-color: #4CAF50;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes caret {
    60% {
        border-right-color: transparent;
    }
}

.threesolid {
    width: 100%;
    font-size: 70px;
    color: cornsilk;
    text-shadow: 0px 1px 0px #c0c0c0,
        0px 2px 0px #b0b0b0,
        0px 3px 0px #a0a0a0,
        0px 4px 0px #909090,
        0px 5px 10px rgba(0, 0, 0, .9);
    margin: 10px;
}

* {
    margin: 0;
    padding: 0;
}

nav {
    width: 1270px;
    height: 170px;
    margin: 0px auto;
    overflow: hidden;
    border: 10px black solid;
}

#picture {
    width: 200%;
    list-style: none;
    height: 100%;
    animation: picmove 8s linear infinite forwards;

}

@keyframes picmove {
    from {
        transform: translate(0);
    }

    to {
        transform: translate(-1270px);
    }
}

#picture img {
    width: 250px;
    height: 170px;
    float: left;
    border: 2px black solid;
}

#picture:hover {
    animation-play-state: paused;
}

#title {
    font-size: 60px;
    font-family: cursive;
    -webkit-text-stroke: 1px cornflowerblue;
    -webkit-text-fill-color: transparent;
    height: 75px;

}

#subtitle {
    background-color: darkkhaki;
    width: 100%;
    height: 40px;
    font-family: Wawati SC;
    margin: 0px;
    /* border:1px; */
}

#press {
    color: transparent;
    background-color: black;
    text-shadow: rgba(255, 255, 255, 0.5) 0 5px 6px, rgba(255, 255, 255, 0.2) 1px 3px 3px;
    -webkit-background-clip: text;
    font-size: 35px;
}


#paragraph {
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(219, 219, 170);
    margin: 20px;
    border: 2px solid;
    border-radius: 25px;
}
