.piclist {
    width: 760px;
    height: 220px;
}

.picbox {
    float: left;
    position: relative;
    width: 170px;
    height: 190px;
    margin: 10px;
    transform-style: preserve-3d;
    transition: 5s;
}

.picbox:hover {
    transform: rotateY(180deg);
}

.face {
    position: absolute;
    width: 170px;
    height: 190px;
}

.front {
    border: 2px solid #c7aea6;
}

.back {
   
    transform: rotateY(180deg);
    background-color: #d9ecba;
    border: 2px solid #fff;
}

.back h3 {
    color: white;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(171, 211, 235);
    width: 770px;
    height: 215px;
    margin: auto;
    border: 2px solid white;
    border-radius: 25px;


}